fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1
groq==0.9.0
pinecone-client==3.2.2
langchain==0.2.1
langchain-openai==0.1.8
langchain-pinecone==0.1.1
langchain-community==0.2.1
pypdf==4.2.0
python-dotenv==1.0.1
tiktoken==0.7.0
sentence-transformers==3.0.1